[submodule "lib/LDPC-codes"]
	path = lib/LDPC-codes
	url = https://github.com/radfordneal/LDPC-codes.git
	ignore = all
[submodule "lib/libfec"]
	path = lib/libfec
	url = https://github.com/quiet/libfec
	ignore = all
[submodule "lib/RTKLIB"]
	path = lib/RTKLIB
	url = https://github.com/tomojitakasu/RTKLIB
	ignore = all
