[submodule "lib/LDPC-codes"]
	path = lib/LDPC-codes
	url = https://github.com/radfordneal/LDPC-codes.git
	ignore = dirty
[submodule "lib/libfec"]
	path = lib/libfec
	url = https://github.com/quiet/libfec
	ignore = dirty
[submodule "lib/RTKLIB"]
	path = lib/RTKLIB
	url = https://github.com/seanstone/RTKLIB
	ignore = dirty
